*

!*.f
!*.F90
!*.in
!*.py

!clmagmablas/clag2z.cl
!clmagmablas/clag2z.cpp
!clmagmablas/clag2z.h
!clmagmablas/clat2z.cl
!clmagmablas/clat2z.cpp
!clmagmablas/clat2z.h
!clmagmablas/dznrm2.cl
!clmagmablas/dznrm2.cpp
!clmagmablas/empty.cl
!clmagmablas/empty.cpp
!clmagmablas/kernel_files.cpp
!clmagmablas/kernels_header.h
!clmagmablas/magma_dmax_nan.cl
!clmagmablas/magma_dmax_nan.cpp
!clmagmablas/magma_dmax_nan.h
!clmagmablas/reduce.h
!clmagmablas/zaxpycp.cl
!clmagmablas/zaxpycp.cpp
!clmagmablas/zaxpycp.h
!clmagmablas/zbcyclic.cpp
!clmagmablas/zcaxpycp.cl
!clmagmablas/zcaxpycp.cpp
!clmagmablas/zcaxpycp.h
!clmagmablas/zgeadd.cl
!clmagmablas/zgeadd.cpp
!clmagmablas/zgeadd.h
!clmagmablas/zgemm_reduce.cl
!clmagmablas/zgemm_reduce.cpp
!clmagmablas/zlacpy.cl
!clmagmablas/zlacpy_cnjg.cl
!clmagmablas/zlacpy_cnjg.cpp
!clmagmablas/zlacpy_cnjg.h
!clmagmablas/zlacpy.cpp
!clmagmablas/zlacpy.h
!clmagmablas/zlag2c.cl
!clmagmablas/zlag2c.cpp
!clmagmablas/zlag2c.h
!clmagmablas/zlange.cl
!clmagmablas/zlange.cpp
!clmagmablas/zlange.h
!clmagmablas/zlanhe.cl
!clmagmablas/zlanhe.cpp
!clmagmablas/zlanhe.h
!clmagmablas/zlarfbx.cl
!clmagmablas/zlarfbx.cpp
!clmagmablas/zlarfg.cl
!clmagmablas/zlarfg.cpp
!clmagmablas/zlarfg.h
!clmagmablas/zlarfgx-v2.cl
!clmagmablas/zlarfgx-v2.cpp
!clmagmablas/zlarfx.cl
!clmagmablas/zlascl_2x2.cl
!clmagmablas/zlascl_2x2.cpp
!clmagmablas/zlascl_2x2.h
!clmagmablas/zlascl.cl
!clmagmablas/zlascl.cpp
!clmagmablas/zlascl_diag.cl
!clmagmablas/zlascl_diag.cpp
!clmagmablas/zlascl_diag.h
!clmagmablas/zlascl.h
!clmagmablas/zlaset_band.cl
!clmagmablas/zlaset_band.cpp
!clmagmablas/zlaset_band.h
!clmagmablas/zlaset.cl
!clmagmablas/zlaset.cpp
!clmagmablas/zlaset.h
!clmagmablas/zlaswp.cl
!clmagmablas/zlaswp.cpp
!clmagmablas/zlaswp.h
!clmagmablas/zlat2c.cl
!clmagmablas/zlat2c.cpp
!clmagmablas/zlat2c.h
!clmagmablas/zswap.cl
!clmagmablas/zswap.cpp
!clmagmablas/zswap.h
!clmagmablas/zsymmetrize.cl
!clmagmablas/zsymmetrize.cpp
!clmagmablas/zsymmetrize.h
!clmagmablas/zsymmetrize_tiles.cl
!clmagmablas/zsymmetrize_tiles.cpp
!clmagmablas/zsymmetrize_tiles.h
!clmagmablas/ztranspose.cl
!clmagmablas/ztranspose.cpp
!clmagmablas/ztranspose.h
!clmagmablas/ztranspose_inplace.cl
!clmagmablas/ztranspose_inplace.cpp
!clmagmablas/ztranspose_inplace.h
!control/abs.cpp
!control/auxiliary.cpp
!control/common_magma.h
!control/constants.cpp
!control/get_nb_tahiti.cpp
!control/kernel_files.h
!control/magma_cf77.cpp
!control/magma_df77.cpp
!control/magma_f77.cpp
!control/magma_sf77.cpp
!control/magma_threadsetting.cpp
!control/magma_threadsetting.h
!control/magma_timer.cpp
!control/magma_timer.h
!control/magma_winthread.cpp
!control/magma_winthread.h
!control/magma_zf77.cpp
!control/magma_znan_inf.cpp
!control/pthread_barrier.cpp
!control/pthread_barrier.h
!control/sizeptr.c
!control/sqrt.cpp
!control/strlcpy.cpp
!control/thread_queue.cpp
!control/thread_queue.hpp
!control/trace.cpp
!control/trace.h
!control/xerbla.cpp
!control/zpanel_to_q.cpp
!control/zprint.cpp
!include/auxiliary.h
!include/cblas.h
!include/magmablas.h
!include/magmablas_zc.h
!include/magmablas_z.h
!include/magmablas_z_trace.h
!include/magma.h
!include/magma_lapack.h
!include/magma_mangling.h
!include/magma_operators.h
!include/magma_types.h
!include/magma_zc.h
!include/magma_z.h
!include/magma_zlapack.h
!include/mangling.h
!interface_opencl/alloc.cpp
!interface_opencl/blas_z.cpp
!interface_opencl/clcompile.cpp
!interface_opencl/clmagma_runtime.cpp
!interface_opencl/clmagma_runtime.h
!interface_opencl/error.cpp
!interface_opencl/error.h
!interface_opencl/interface.cpp
!interface_opencl/set_get.cpp
!interface_opencl/zset_get.cpp
!src/cblas_z.cpp
!src/dgeev.cpp
!src/dgesdd.cpp
!src/dgesvd.cpp
!src/dlaex0.cpp
!src/dlaex1.cpp
!src/dlaex3.cpp
!src/dstedx.cpp
!src/dsyevd.cpp
!src/zcposv_gpu.cpp
!src/zgebrd.cpp
!src/zgeev.cpp
!src/zgehrd.cpp
!src/zgelqf.cpp
!src/zgels_gpu.cpp
!src/zgeqlf.cpp
!src/zgeqr2x_gpu-v3.cpp
!src/zgeqrf2_gpu.cpp
!src/zgeqrf.cpp
!src/zgeqrf_gpu.cpp
!src/zgeqrf_mgpu.cpp
!src/zgeqrf_msub.cpp
!src/zgeqrs_gpu.cpp
!src/zgesdd.cpp
!src/zgesv.cpp
!src/zgesvd.cpp
!src/zgesv_gpu.cpp
!src/zgetrf2_gpu.cpp
!src/zgetrf2_mgpu.cpp
!src/zgetrf2_msub.cpp
!src/zgetrf.cpp
!src/zgetrf_gpu.cpp
!src/zgetrf_mgpu.cpp
!src/zgetrf_msub.cpp
!src/zgetri_gpu.cpp
!src/zgetrs_gpu.cpp
!src/zheevd.cpp
!src/zhesv.cpp
!src/zhetrd.cpp
!src/zhetrf.cpp
!src/zhetrf_nopiv.cpp
!src/zhetrf_nopiv_cpu.cpp
!src/zhetrf_nopiv_gpu.cpp
!src/zlabrd_gpu.cpp
!src/zlahef_gpu.cpp
!src/zlahr2.cpp
!src/zlahru.cpp
!src/zlarfb_gpu.cpp
!src/zlatrd.cpp
!src/zlauum.cpp
!src/zlauum_gpu.cpp
!src/zposv.cpp
!src/zposv_gpu.cpp
!src/zpotrf2_gpu.cpp
!src/zpotrf2_mgpu.cpp
!src/zpotrf2_mgpu_trace.cpp
!src/zpotrf2_msub.cpp
!src/zpotrf.cpp
!src/zpotrf_gpu.cpp
!src/zpotrf_mgpu.cpp
!src/zpotrf_msub.cpp
!src/zpotri.cpp
!src/zpotri_gpu.cpp
!src/zpotrs_gpu.cpp
!src/zstedx.cpp
!src/ztrtri.cpp
!src/ztrtri_gpu.cpp
!src/zunghr.cpp
!src/zungqr2.cpp
!src/zungqr.cpp
!src/zunmbr.cpp
!src/zunmlq.cpp
!src/zunmql.cpp
!src/zunmqr.cpp
!src/zunmqr_gpu.cpp
!src/zunmtr.cpp
!testing/flops.h
!testing/magma_util.cpp
!testing/magma_zutil.cpp
!testing/results_clmagma.txt
!testing/testing_auxiliary.cpp
!testing/testing_benchmark.cpp
!testing/testing_blas_z.cpp
!testing/testing_cblas_z.cpp
!testing/testing_constants.cpp
!testing/testing_dgeev.cpp
!testing/testing_operators.cpp
!testing/testing_parse_opts.cpp
!testing/testings.h
!testing/testing_zcposv_gpu.cpp
!testing/testing_zgeadd.cpp
!testing/testing_zgebrd.cpp
!testing/testing_zgeev.cpp
!testing/testing_zgehrd.cpp
!testing/testing_zgelqf.cpp
!testing/testing_zgels_gpu.cpp
!testing/testing_zgemm.cpp
!testing/testing_zgemm_reduce.cpp
!testing/testing_zgemv.cpp
!testing/testing_zgeqlf.cpp
!testing/testing_zgeqr2x_gpu.cpp
!testing/testing_zgeqrf.cpp
!testing/testing_zgeqrf_gpu.cpp
!testing/testing_zgeqrf_mgpu.cpp
!testing/testing_zgeqrf_msub.cpp
!testing/testing_zgesdd.cpp
!testing/testing_zgesv.cpp
!testing/testing_zgesvd.cpp
!testing/testing_zgesv_gpu.cpp
!testing/testing_zgetrf.cpp
!testing/testing_zgetrf_gpu.cpp
!testing/testing_zgetrf_mgpu.cpp
!testing/testing_zgetrf_msub.cpp
!testing/testing_zgetri_gpu.cpp
!testing/testing_zheevd.cpp
!testing/testing_zhemv.cpp
!testing/testing_zher2k.cpp
!testing/testing_zherk.cpp
!testing/testing_zhesv.cpp
!testing/testing_zhetrd.cpp
!testing/testing_zhetrf.cpp
!testing/testing_zlacpy.cpp
!testing/testing_zlag2c.cpp
!testing/testing_zlange.cpp
!testing/testing_zlanhe.cpp
!testing/testing_zlarfb_gpu.cpp
!testing/testing_zlarfg.cpp
!testing/testing_zlascl.cpp
!testing/testing_zlaset_band.cpp
!testing/testing_zlaset.cpp
!testing/testing_zlat2c.cpp
!testing/testing_znan_inf.cpp
!testing/testing_zposv.cpp
!testing/testing_zposv_gpu.cpp
!testing/testing_zpotrf.cpp
!testing/testing_zpotrf_gpu.cpp
!testing/testing_zpotrf_mgpu.cpp
!testing/testing_zpotrf_msub.cpp
!testing/testing_zpotri.cpp
!testing/testing_zpotri_gpu.cpp
!testing/testing_zprint.cpp
!testing/testing_zswap.cpp
!testing/testing_zsymmetrize.cpp
!testing/testing_zsymmetrize_tiles.cpp
!testing/testing_zsymv.cpp
!testing/testing_ztranspose.cpp
!testing/testing_ztrmm.cpp
!testing/testing_ztrmv.cpp
!testing/testing_ztrsm.cpp
!testing/testing_ztrsv.cpp
!testing/testing_ztrtri.cpp
!testing/testing_ztrtri_gpu.cpp
!testing/testing_zungqr.cpp
!testing/testing_zunmbr.cpp
!testing/testing_zunmlq.cpp
!testing/testing_zunmql.cpp
!testing/testing_zunmqr.cpp

!Makefile
!Makefile.src
!README
!ReleaseNotes
!COPYRIGHT
!make.check*
!make.inc*

*.gen
*.pyc
*.o
*.a
*.so
*.co
*.*~
*~

.directory
